<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="melusine.cu.fixer"
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="fede.tool.workspace.view.validation.marker"
            class="fede.workspace.tool.fixer.CadseFixer">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="fede.tool.workspace.view.Melusine"
         name="Melusine Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="fede.workspace.eclipse.MelusineNature">
         </run>
      </runtime>
      <builder
            id="fede.tool.workspace.view.validation.builder">
      </builder>
      <builder
            id="fede.tool.workspace.view.packaging.builder">
      </builder>
      <builder
            id="fede.tool.workspace.view.composition.builder">
      </builder>
   </extension>
   <extension
         id="fede.tool.workspace.view.melusine.marker"
         name="Melusine Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="itemType">
      </attribute>
      <attribute
            name="item">
      </attribute>
      <attribute
            name="description">
      </attribute>
      <attribute
            name="parameters">
      </attribute>
   </extension>
   <extension
         id="fede.tool.workspace.view.validation.builder"
         name="Item Validation Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            isConfigurable="false"
            hasNature="true">
         <run
               class="fede.workspace.eclipse.validation.ValidationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="fede.tool.workspace.view.validation.marker"
         name="Fede Validation"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="fede.tool.workspace.view.melusine.marker">
      </super>
      <attribute
            name="errorCode">
      </attribute>
   </extension>
   <extension
         id="fede.tool.workspace.view.packaging.builder"
         name="Item Binary Packager Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            isConfigurable="false"
            hasNature="true">
         <run
               class="fede.workspace.eclipse.composition.ComponentBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="fede.tool.workspace.view.component.builder.marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="fede.tool.workspace.view.melusine.marker">
      </super>
   </extension>
   <extension
         id="fede.tool.workspace.view.composition.builder"
         name="Item Composition Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            isConfigurable="false"
            hasNature="true">
         <run
               class="fede.workspace.eclipse.composition.CompositeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="fede.tool.workspace.view.composite.builder.marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="fede.tool.workspace.view.melusine.marker">
      </super>
   </extension>
   <extension
         id="fede.tool.workspace.view.dependencies.resolution.marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="fede.tool.workspace.view.melusine.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name.workspace"
            id="fede.workspace.tool.view">
      </category>
      <view
            name="%name.view.workspace-view"
            icon="icons/sample.gif"
            category="fede.workspace.tool.view"
            class="fede.workspace.tool.view.WSView"
            id="fede.workspace.tool.view.WSView">
      </view>
      <view
            name="Workspace link"
            icon="icons/book14.gif"
            category="fede.workspace.tool.view"
            class="fede.workspace.tool.view.WSLinkView"
            id="fede.workspace.tool.view.WSLinkView">
      </view>
      <view
            name="Workspace content"
            icon="icons/folder.gif"
            category="fede.workspace.tool.view"
            class="fede.workspace.tool.view.content.WSContentView"
            id="fede.workspace.tool.view.WSContentView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.workspacePerspective"
            icon="icons/ws_perspective.gif"
            class="fede.workspace.tool.perspective.WorkspacePerspective"
            id="fede.tool.workspace.workspacePerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="fede.workspace.tool.view.WSView"
            id="Tool.Workspace.View.viewerContribution12">
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="fr.imag.adele.cadse.core.Item"
            adaptable="true"
            name="%page.name.0"
            class="fede.workspace.model.manager.properties.impl.ui.FieldsPropertyPage"
            id="fede.workspace.tool.properties.1">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="fede.workspace.tool.view.adapter.WSAdapterFactory"
            adaptableType="fr.imag.adele.cadse.core.Item">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            class="fede.workspace.tool.view.adapter.WSAdapterItemInViewFactory"
            adaptableType="fede.workspace.tool.view.ItemInViewer">
         <adapter
               type="fr.imag.adele.cadse.core.Item">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            class="fede.workspace.tool.view.adapter.WSResourceAdapterFactory"
            adaptableType="org.eclipse.core.resources.IResource">
         <adapter
               type="fr.imag.adele.cadse.core.Item">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="%decorator.label.0"
            state="false"
            class="fede.workspace.tool.view.decorator.ItemDecorator"
            id="fede.workspace.tool.view.decorator">
         <description>
            %decorator.description.0
         </description>
      </decorator>
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            label="item copy deco"
            class="fede.workspace.tool.view.decorator.WorkspaceCopyLabelDecorator"
            id="SI.Workspace.View.decorator1">
      </decorator>
   </extension>
   <extension
         point="fr.imag.workspace.custom.filter.elementFilters">
      <filter
            name="%filter.name.0"
            enabled="true"
            description="%filter.description.0"
            hidden="false"
            class="fede.workspace.tool.view.filters.FilterEmptyRelation"
            multipleFilter="false"
            id="filterEmptyRelationFede">
      </filter>
      <filter
            name="%filter.name.1"
            enabled="true"
            description="%filter.description.1"
            hidden="true"
            class="fede.workspace.tool.view.filters.FilterNotAggregation"
            multipleFilter="false"
            id="NotAggregation">
      </filter>
      <filter
            name="%filter.name.2"
            enabled="true"
            description="%filter.description.2"
            hidden="true"
            class="fede.workspace.tool.view.filters.FilterLinkTypeFrom"
            multipleFilter="false"
            id="FilterLinkTypeFrom">
      </filter>
      <filter
            name="%filter.name.4"
            enabled="false"
            description="%filter.description.4"
            hidden="true"
            class="fede.workspace.tool.view.filters.FilterLinkTypeTo"
            multipleFilter="false"
            id="FilterLinkTypeTo">
      </filter>
      <filter
            name="%filter.name.5"
            enabled="true"
            description="%filter.description.5"
            hidden="false"
            class="fede.workspace.tool.view.filters.FilterHidden"
            multipleFilter="false"
            id="FilterHidden">
      </filter>
      <filter
            name="%filter.name.7"
            enabled="true"
            description="%filter.description.7"
            hidden="false"
            class="fede.workspace.tool.view.filters.FilterDerivedLink"
            multipleFilter="false"
            id="FilterDerivedLink">
      </filter>
      <filter
            name="%filter.name.9"
            enabled="false"
            description="%filter.description.9"
            hidden="false"
            class="fede.workspace.tool.view.filters.FilterUnresolvedLink"
            multipleFilter="false"
            id="FilterUnresolvedLink">
      </filter>
      <filter
            name="Doublon"
            enabled="true"
            description="Doublon"
            hidden="false"
            class="fede.workspace.tool.view.filters.FilterDoublon"
            multipleFilter="false"
            id="fede.workspace.tool.view.filters.FilterDoublon">
      </filter>
      <filter
            name="instance of"
            enabled="true"
            description="link instance of"
            hidden="false"
            class="fede.workspace.tool.view.filters.FilterInstanceOf"
            multipleFilter="false"
            id="instanceof">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="Export workspace items and resource"
            class="fede.workspace.tool.exportImport.ExportWizard"
            id="Tool.Workspace.View.exportwizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="Import workspace items and resource"
            class="fede.workspace.tool.exportImport.ImportWizard"
            id="Tool.Workspace.View.impotwizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="workspace-ant.jar"
            name="fede.workspace.composite-jar"
            headless="false"
            eclipseRuntime="true"
            class="fede.workspace.ant.CompositeJar">
      </antTask>
      <antTask
            library="workspace-ant.jar"
            name="fede.workspace.copy-item"
            headless="false"
            eclipseRuntime="true"
            class="fede.workspace.ant.CopyItem">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="workspace-ant.jar"
            headless="false"
            eclipseRuntime="true">
      </extraClasspathEntry>
   </extension>

</plugin>
